<!DOCTYPE html>
<html>
  <head>
    <title>RAM-Man - Ram Yönetimi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/stylesheets/custom.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <script src="assets/javascripts/angular-ui-router.min.js"></script>
    <script src="assets/javascripts/jquery-3.1.1.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>

    <script src="assets/javascripts/moment/min/moment.min.js"></script>
    <script src="assets/javascripts/moment/min/locales.min.js"></script>
    <script src="assets/javascripts/humanize-duration/humanize-duration.js"></script>
    <script src="assets/javascripts/angular-timer/dist/angular-timer.min.js"></script>

    <script src="assets/javascripts/app.js"></script>
  </head>

  <body class="container" ng-app="ram-man" ng-controller="MainCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="index.html" class='navbar-brand'>
            <img ng-hide="running" alt="Brand" src="assets/images/RAM-icon.png" width="70px">
            <img ng-show="running" alt="Brand" src="assets/images/hourglass.gif" width="70px">
          </a>
        </div>
      </div>
    </nav>

    <div class="container" id="main">
      <div class="row">
        <div class="col-md-12">
          <!-- Hata mesajı -->
          <ng-include ng-show="ram_overflow" src="'assets/javascripts/templates/warning.html'"></ng-include>

          <span ng-hide="started">
            <div class="col-md-2 text-center" ng-repeat="process in available_processes">
              <img src="{{ process.image_url }}" class="apps" ng-click="select_app(process)" />
              <h4>{{ process.name }}</h4>
            </div>

            <div class="col-md-2">
              <!-- Form for process -->
              <form>
                <div class="form-group">
                  <label for="process_name">İş:</label>
                  <input class="form-control" readonly ng-model="work_name">
                </div>

                <div class="form-group">
                  <label for="proc_work_time">Çalışacağı Süre:</label>
                  <input type="number" min="1" max="60" class="form-control" name="proc_work_time" id="proc_work_time" ng-model="proc_work_time">
                </div>

                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-default" id="add_button" ng-click="addToQueue()" ng-disabled="!selected || !proc_work_time">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Ekle
                  </button>

                  <button type="submit" class="btn btn-success" id="start_button" ng-click="run_processes()" ng-disabled="process_queue_empty">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Çalıştır
                  </button>
                </div>
              </form>

            </div>
          </span>

          <div class="row">
            <div class="col-md-5">
              <!-- Kuyruktaki işler -->
              <ng-include ng-hide="process_queue_empty" src="'assets/javascripts/templates/queue.html'"></ng-include>
            </div>

            <div class="col-md-5 col-md-offset-1">
              <!-- Bellek Durumu -->
              <ng-include src="'assets/javascripts/templates/ram_status.html'"></ng-include>
            </div>
          </div>

          <!-- Kuyruk, ram durumu vs. -->
          <div ng-show="started" class="row">
            <div class="col-md-5">
              <!-- İş kaydı. OS açıldı. vs. -->
              <ng-include src="'assets/javascripts/templates/logs.html'"></ng-include>
            </div>

            <div class="col-md-5 col-md-offset-1" ng-show="running">
              <!-- Anlık çalışan iş -->

              <h1 class="page-header">Çalışan İş</h1>

              <div class="text-center">
                <img src="{{ current_process.image_url }}" />
              </div>

              <table class="table">
                <tr>
                  <th>
                    İş:
                  </th>
                  <td>
                    {{ current_process.name }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Kullanılan alan:
                  </th>
                  <td>
                    {{ current_process.size }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Çalışma Süresi:
                  </th>
                  <td>
                    {{ current_process.work_time }} s
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div> <!-- end of row -->

      <footer class="text-center">
        <hr />

        <p class="lead">
          <a href="https://gitlab.com/yigitsadic/RAM-Man">Proje Kodları</a>
          <br /><br />
          Powered by <a href="http://www.zealouve.com/"><img src="assets/images/zealouve_logo.png" width="120px" /></a>
        </p>
      </footer>
    </div> <!-- end of container -->
  </body>
</html>
