body {
	padding-top: 120px;
	padding-bottom: 20px;
}

html {
	background: url('../images/background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-fixed-top {
    height: 100px;
}

.apps {
	cursor: pointer;
}
