<h1 class="page-header">Kuyruk</h1>

<table class="table">
  <thead>
    <th>
      İş
    </th>
    <th>
      Boyut (MB)
    </th>
    <th>
      Süre (s)
    </th>
  </thead>

  <tbody>
    <tr ng-repeat="process in process_queue">
      <td>
        {{ process.name }}
      </td>
      <td>
        {{ process.size }}
      </td>
      <td>
        {{ process.work_time }}
      </td>
    </tr>
  </tbody>
</table>

<h3 ng-show="running">{{ current_queue_step }} / {{ process_queue.length }}</h3>
