<h1 class="page-header">Bellek Durumu</h1>
<table class="table">
  <tr>
    <th>
      OS tüketimi:
    </th>
    <td>
      2048 <span class="pull-right">MB</span>
    </td>
  </tr>
  <tr>
    <th>
      Kullanılan:
    </th>
    <td>
      {{ ram_used }} <span class="pull-right">MB</span>
    </td>
  </tr>

  <tr>
    <th>
      Boş:
    </th>
    <td>
      {{ ram_capacity-ram_used }} <span class="pull-right">MB</span>
    </td>
  </tr>

  <tr>
    <th>
      Toplam:
    </th>
    <td>
      {{ ram_capacity }} <span class="pull-right">MB</span>
    </td>
  </tr>

  <tr>
    <th>
      Kullanılan:
    </th>
    <td>
      {{ ram_percentage }}%
    </td>
  </tr>

  <tr>
    <th>
      Kuyruktaki iş sayısı:
    </th>
    <td>
      {{ process_queue.length - current_queue_step }}
    </td>
  </tr>

</table>

<h3>Bellek:</h3>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success {{ running ? 'active' : '' }}" role="progressbar" aria-valuenow="{{ ram_used }}" aria-valuemin="0" aria-valuemax="5120" style="width: {{ ram_percentage }}%">
    <span class="sr-only">{{ ram_percentage }}% Kullanılıyor.</span>
  </div>
</div>
