<div class="row">
  <div class="text-center col-md-8 col-md-offset-2 alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" ng-click="ram_overflow = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <div>
      <img src="assets/images/warning-icon.png"  />
    </div>

    <br />

    <p class="lead">
      <strong>Uyarı!</strong> Lütfen iş için bir 1 saniyeden uzun bir süre belirtiniz.
    </p>
  </div>
</div>
